<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-3">
    <li class="nav-item"><a class="nav-link" href="/album" th:text="'Albums'">Albums</a></li>
    <title>Search</title>
    <form th:action="@{composition/find}" th:method="GET">
    <input type="text" name="param" >
    <input type="submit" value="Find">
    </form>
    <h2 th:text="'Compositions'" class="h2">Compositions</h2>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-bordered table-secondary">
                <thead>
                <tr>
                    <th scope="col" class="border border-secondary">ID</th>
                    <th scope="col" class="border border-secondary">Name</th>
                    <th scope="col" class="border border-secondary">Duration</th>
                    <th scope="col" class="border border-secondary">Delete</th>
                </tr>
                </thead>
                <tr th:each="composition : ${compositions}" th:object="${composition}">
                    <td class="border border-secondary" th:text="*{id}"></td>
                    <td class="border border-secondary" th:text="*{name}"></td>
                    <td class="border border-secondary" th:text="*{duration}"></td>
                    <td class="border border-secondary">
                        <form th:action="@{/composition/__*{id}__}" th:method="DELETE">
                            <button th:text="delete" class="btn btn-danger btn-sm">delete</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <form class="form-group px-3" th:action="@{composition/save}" th:object="${new_composition}" th:method="POST">
            <div class="input-group mt-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" th:text="'Name'">Name</span>
                </div>
                <input class="input-group-append form-control" type="text" th:field="*{name}" placeholder="Name"/>
            </div>
            <div class="input-group mt-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" th:text="'Duration'">Duration</span>
                </div>
                <input class="input-group-append form-control" type="number" step="0.01" min="0.01" th:field="*{duration}" placeholder="Duration"/>
            </div>
            <!--<span th:text="'Duration'">Duration</span>-->
            <!--<div class="input-group mt-2">-->
                <!--<div class="input-group-prepend">-->
                    <!--<span class="input-group-text" th:text="'Minutes'">Minutes</span>-->
                <!--</div>-->
                <!--<input class="input-group-append form-control latitude" type="number" step="1" min="0" th:field="*{minutes}" placeholder="Minutes"/>-->
            <!--</div>-->
            <!--<div class="input-group mt-2">-->
                <!--<div class="input-group-prepend">-->
                    <!--<span class="input-group-text" th:text="'Seconds'">Seconds</span>-->
                <!--</div>-->
                <!--<input class="input-group-append form-control latitude" type="number" step="1" min="0" max="59" th:field="*{seconds}" placeholder="Seconds"/>-->
            <!--</div>-->
            <button class="btn btn-primary form-control mt-2" th:text="'Save in DB'">Save in DB</button>
            <div th:each="message : ${error_message}" th:oblect="${message}">
                <div class="alert alert-danger mt-3">
                    <strong th:text="${message}">Failure!</strong>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
